{% extends 'navbar.html'%}

    {% load static %}
    
    {% block title %}
    AUDI
    {% endblock %}


{% block content%}
<link rel="stylesheet" href="{% static 'rent.css' %}">
<link rel="stylesheet" href="{% static 'order.css' %}">

<section class="cars" id="cars">
    <div class="container">
        <h1 class="heading" >Brand: <span>Audi</span></h1>

        <div class="work-list">
            <div>
                <div class="work">
                    <img src="{% static 'image/audi/audiq8.png' %}" alt="">
                    <div class="layer">
                        <h1>Audi Q8</h1>
                    </div>
                </div>
                <div class="content">
                    <h3>Audi Q8</h3>
                    <div class="price"> <span>price : </span> 2 cr </div>
                    <p>
                        new
                        <span class="fas fa-circle"></span> 
                        2021
                        <span class="fas fa-circle"></span>
                        automatic
                        <span class="fas fa-circle"></span>
                        petrol
                        <span class="fas fa-circle"></span>
                        suv
                    </p>
                    <!-- <a href="http://127.0.0.1:8000/orderconfirmation_audi/" class="btn">Order</a> -->
                    <button class="newbtn" onclick="
                    // Show the modal
                    document.getElementById('id01').style.display = 'block';
                    " style="width:auto;">
                    Order
                    </button>
                </div>
                <div id="id01" class="modal">
                    <form class="modal-content animate">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="{% static 'image/audi/audiq8.png' %}" alt="Avatar" class="avatar">
                        </div>
                        <div class="xcontainer">
                            <label><b>Car name: </b>Audi Q8</label><br>
                            <label><b>Car id:</b> Audi_q8_0</label><br>
                            <label><b>Brand: </b>Audi | Automatic | Petrol | SUV</b></label>
                            <br><br>
                            <label>Total cost 2 crore<span id="rentedHours"></span></label>
                            <br>
                        </div>
                        <div class="xcontainer" style="background-color:#f1f1f1">
                            <a href="http://127.0.0.1:8000/home.html/"><button type="xbutton" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Confirm Order</button></a>
                        </div>
                    </form>
                </div>
            </div>
      
        <div>
            <div class="work">
                <img src="{% static 'image/audi/audia6.png' %}" alt="">
                <div class="layer">
                    <h1>Audi A6</h1>
                </div>
            </div>
            <div class="content">
                <h3>Audi A6</h3>
                <div class="price"> <span>price : </span> 1.5cr </div>
                <p>
                    new
                    <span class="fas fa-circle"></span> 2021
                    <span class="fas fa-circle"></span> automatic
                    <span class="fas fa-circle"></span> petrol
                    <span class="fas fa-circle"></span> sedan
                </p>
                <!-- <a href="#" class="btn">Order</a> -->
                <button class="newbtn" onclick="
                // Show the modal
                document.getElementById('id02').style.display = 'block';
                " style="width:auto;">
                Order
                </button>
            </div>
            <div id="id02" class="modal">
                <form class="modal-content animate">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="{% static 'image/audi/audia6.png' %}" alt="Avatar" class="avatar">
                  </div>
                  <div class="xcontainer">
                    <label><b>Car name: </b>Audi A6</label><br>
                    <label><b>Car id:</b> Audi_a6_0</label><br>
                    <label><b>Brand: </b>Audi | Automatic | Petrol | Sedan</b></label>
                    <br><br>
                    <label>Total cost 1.5 crore<span id="rentedHours"></span></label>
                    <br>
                  </div>
                  <div class="xcontainer" style="background-color:#f1f1f1">
                    <a href="http://127.0.0.1:8000/home.html/"><button type="xbutton" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Confirm Order</button></a>
                  </div>
                </form>
            </div>
        </div>


        <div>
            <div class="work">
                <img src="{% static 'image/audi/audis5.png' %}" alt="">
                <div class="layer">
                    <h1>Audi S5</h1>
                </div>
            </div>
            <div class="content">
                <h3>Audi S5</h3>
                <div class="price"> <span>price : </span> 2.5cr </div>
                <p>
                    new
                    <span class="fas fa-circle"></span> 2021
                    <span class="fas fa-circle"></span> automatic
                    <span class="fas fa-circle"></span> petrol
                    <span class="fas fa-circle"></span> sports
                </p>
                <!-- <a href="#" class="btn">Order</a> -->
                <button class="newbtn" onclick="
                // Show the modal
                document.getElementById('id03').style.display = 'block';
                " style="width:auto;">
                Order
                </button>
            </div>
            <div id="id03" class="modal">
                <form class="modal-content animate">
                  <div class="imgcontainer">
                    <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="{% static 'image/audi/audis5.png' %}" alt="Avatar" class="avatar">
                  </div>
                  <div class="xcontainer">
                    <label><b>Car name: </b>Audi S5</label><br>
                    <label><b>Car id:</b> Audi_s5_0</label><br>
                    <label><b>Brand: </b>Audi | Automatic | Petrol | Sports</b></label>
                    <br><br>
                    <label>Total cost 2.5 crore<span id="rentedHours"></span></label>
                    <br>
                  </div>
                  <div class="xcontainer" style="background-color:#f1f1f1">
                    <a href="http://127.0.0.1:8000/home.html/"><button type="xbutton" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Confirm Order</button></a>
                  </div>
                </form>
            </div>
        </div>

        </div>
    </div>
</section>

{% endblock %}