{% extends 'navbar.html'%}
{% load static %}

{% block title %}
BMW
{% endblock %}

{% block content%}

<section class="cars" id="cars">
<div class="container">
    <h1 class="heading">Brand: <span>BMW</span></h1>
    <div class="work-list">
        
    <div>

        <div class="work">
            <img src="{% static 'image/bmw/bmwx7.png' %}" alt="">
            <div class="layer">
                <h1>BMW X7</h1>
            </div>
        </div>
        <div class="content">
            <h3>BMW X7</h3>
            <div class="price"> <span>price : </span> 4cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2020
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>

    </div>
    <br>
    <div>
        <div class="work">
            <img src="{% static 'image/bmw/bmwz4.png' %}" alt="">
            <div class="layer">
                <h1>BMW Z4</h1>
            </div>
        </div>
        <div class="content">
            <h3>BMW Z4</h3>
            <div class="price"> <span>price : </span> 2cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2018
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> convertible
            <a href="#" class="btn">Order</a>
        </div>
    </div>
<br>

    <div>
        <div class="work">
            <img src="{% static 'image/bmw/bmwm5.png' %}" alt="">
            <div class="layer">
                <h1>BMW M5</h1>
            </div>
        </div>
        <div class="content">
            <h3>BMW M5</h3>
            <div class="price"> <span>price : </span> 3.4cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> sedan
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>

    </div>
</div>
</section>

{% endblock %}