{% extends 'navbar.html'%}
{% load static %}
{% block title %}
HONDA
{% endblock %}

{% block content%}

<section class="cars" id="cars">
<div class="container">
    <h1 class="heading">Brand: <span>Honda</span></h1>
    <div class="work-list">
        
    <div>

        <div class="work">
            <img src="{% static 'image/honda/hondacity.png' %}" alt="">
            <div class="layer">
                <h1>Honda City</h1>
            </div>
        </div>
        <div class="content">
            <h3>Honda City</h3>
            <div class="price"> <span>price : </span> 40 Lakh </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> sedan
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>

    <div>
        <div class="work">
            <img src="{% static 'image/honda/hondahrv.png' %}" alt="">
            <div class="layer">
                <h1>Honda HR_V</h1>
            </div>
        </div>
        <div class="content">
            <h3>Honda HR_V</h3>
            <div class="price"> <span>price : </span> 30 Lakh </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>

    </div>
</div>
</section>

{% endblock %}