{% load static %}
<!DOCTYPE html>

<html lang="en">
<h1>Checkout</h1>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Pay Now</button>
</form>
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
    var elements = stripe.elements();
    var clientSecret = '{{ client_secret }}';

    var card = elements.create('card');
    card.mount('#card-element');

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.handleCardPayment(clientSecret, card).then(function(result) {
            if (result.error) {
                // Show error to your customer (e.g., insufficient funds)
            } else {
                // Payment succeeded, redirect to the success page
                window.location.href = '/success/';
            }
        });
    });
</script>

</body>
</html>