{% extends 'navbar.html'%}
{% load static %}
{% block title %}
SPORTS
{% endblock %}

{% block content%}

<section class="cars" id="cars">
<div class="container">
    <h1 class="heading">Type: <span>Sports</span></h1>
    <div class="work-list">
        
    <div>

        <div class="work">
            <img src="{% static 'image/audi/audis5.png' %}" alt="">
            <div class="layer">
                <h1>Audi S5</h1>
            </div>
        </div>
        <div class="content">
            <h3>Audi S5</h3>
            <div class="price"> <span>price : </span> 2.5cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> sports
            </p>
            <a href="#" class="btn">Order</a>
        </div>

    </div>


    <div>
        <div class="work">
            <img src="{% static 'image/toyota/toyotasupra.png' %}" alt="">
            <div class="layer">
                <h1>Toyota Supra</h1>
            </div>
        </div>
        <div class="content">
            <h3>Toyota Supra</h3>
            <div class="price"> <span>price : </span> 1.5cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> sports
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>


    <div>
        <div class="work">
            <img src="{% static 'image/mercedes/mercedesbenzamggt.png' %}" alt="">
            <div class="layer">
                <h1>Mercedes_Benz AMG GT</h1>
            </div>
        </div>
        <div class="content">
            <h3>Mercedes_Benz AMG GT</h3>
            <div class="price"> <span>price : </span> 6cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> sports
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>

    

    </div>
</div>
</section>

{% endblock %}