{% extends 'navbar.html'%}
{% load static %}
{% block title %}
SUV
{% endblock %}

{% block content%}

<section class="cars" id="cars">
<div class="container">
    <h1 class="heading">Type: <span>Suv</span></h1>
    <div class="work-list">
        
    <div>

        <div class="work">
            <img src="{% static 'image/audi/audiq8.png' %}" alt="">
            <div class="layer">
                <h1>Audi Q8</h1>
            </div>
        </div>
        <div class="content">
            <h3>Audi Q8</h3>
            <div class="price"> <span>price : </span> 2cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>

    </div>
    
    <div>
        <div class="work">
            <img src="{% static 'image/honda/hondahrv.png' %}" alt="">
            <div class="layer">
                <h1>Honda HR_V</h1>
            </div>
        </div>
        <div class="content">
            <h3>Honda HR_V</h3>
            <div class="price"> <span>price : </span> 2cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            <a href="#" class="btn">Order</a>
        </div>
    </div>


    <div>
        <div class="work">
            <img src="{% static 'image/bmw/bmwx7.png' %}" alt="">
            <div class="layer">
                <h1>BMW X7</h1>
            </div>
        </div>
        <div class="content">
            <h3>BMW X7</h3>
            <div class="price"> <span>price : </span> 4cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>
   
    <div>
        <div class="work">
            <img src="{% static 'image/landrover/landroverdefender.png' %}" alt="">
            <div class="layer">
                <h1>Land Rover Defender</h1>
            </div>
        </div>
        <div class="content">
            <h3>Land Rover Defender</h3>
            <div class="price"> <span>price : </span> 3cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>
 
    <div>
        <div class="work">
            <img src="{% static 'image/landrover/rangeroverevoqe.png' %}" alt="">
            <div class="layer">
                <h1>Range Rover Evouqe</h1>
            </div>
        </div>
        <div class="content">
            <h3>Range Rover Evouqe</h3>
            <div class="price"> <span>price : </span> 4cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>

    <div>
        <div class="work">
            <img src="{% static 'image/toyota/toyotafortuner.png' %}" alt="">
            <div class="layer">
                <h1>Toyota Fortuner</h1>
            </div>
        </div>
        <div class="content">
            <h3>Toyota Fortuner</h3>
            <div class="price"> <span>price : </span> 1cr </div>
            <p>
                new
                <span class="fas fa-circle"></span> 2021
                <span class="fas fa-circle"></span> automatic
                <span class="fas fa-circle"></span> petrol
                <span class="fas fa-circle"></span> suv
            </p>
            <a href="#" class="btn">Order</a>
        </div>
    </div>

    </div>
</div>
</section>

{% endblock %}